.App {
  text-align: center;
}

.Header {
  color: aquamarine;
}

.flex_line {
  display: flex;
  /* background: purple; */
  padding: 10px 0;
  padding-right: 15px;
  /* align-content: space-around; */
  align-items: center;
  /* justify-content: center; */
  border-bottom: 1px solid #dee2e6;
}

/* .flex_container {
  display: flex;
  align-content: center;
} */


.flex_item {
  /* flex-grow: 1; */
  /* display: flex; */
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  flex-basis: 25px;
  text-align: left;
  /* align-items: center; */
  /* border: 1px solid red; */
  /* padding: 10px; */
  flex-grow: 1;
  /* padding-bottom: 10px; */ /*this helps but isn't great*/ 
  /* line-height: 2.5em; */
  /* border-bottom: 1px solid #dee2e6; */
  line-height: 24px;
  /* padding-top: 10px; */ /*this helps but isn't great*/ 

}

.name {
  flex-grow: 5;
  padding-left: 10px;
  text-transform: capitalize;
}

.age {
  text-align: center;
}

.eyeColor {
  /* line-height: 24px; */
  text-align: right;
  padding-right: 100px;
  flex-grow: 1;

}

.shade {
  /* background-color: rgba(116, 193, 235, 0.45); */
  /* color: white; */
  /* border-bottom: 2px solid gray; */
}

.box {
  flex-grow: .25;
  /* align-content: center; */
  /* background: yellow; */
  /* text-align: center; */
  /* border-radius: 50%; */
  border-bottom: 0px;
  
}


.icon{
  /* flex-grow: .25; */
  /* align-content: center; */
  border-radius: 50%;
  padding-bottom: 0px;
  border-bottom: 0px;
  /* background: plum; */
  /* vertical-align: middle; */
  /* margin-right: 1em; */
  color: white;
  font-weight: bold;
  /* text-align: center; */
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  /* padding-left: 5px; */
  /* display: inline-block; */
  /* height: 25px; */
  /* width: 25px; */
 /* padding: 5px; */
 width: 40px;
 height: 40px;
 /* max-height: 50px; */
 /* max-width: 50px; */
 display: inline-block;
 text-align: center;
 /* align-content: center; */
 /* margin: 5px; */
 margin-left: 15px;
 line-height: 40px;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1110px;

}

.button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  padding: 0px 10px;
  opacity: 0.4;
  
  /* width: 1em; */
}

.headers {
  border-bottom: 2.5px solid #dee2e6;
}
.header1 {
  padding-right: 20px;
}
.header2 {
  padding-left: 25px;
}
.header3 {
  padding-right: 170px;
}

a:hover {
  background-color: gray;
}

a {
  text-decoration: none;
  color: black;
}